<h1><%= @user.name %> </h1>

<p>
  Contact: <%= @user.email %> 
</p>

<div id="events">
  <% @user.created_events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
    <br>
  <% end %>
</div>