<% if flash[:notice] %>
  <p style="color: green" class="notice"><%= notice %></p>
  <% flash.clear %>
<% end %>

<% if flash[:alert] %>
  <p style="color: red" class="alert"><%= alert %></p>
  <% flash.clear %>
<% end %>